$fa-font-path: "/bower_components/font-awesome/fonts";

@import '../bower_components/susy/sass/susy';
@import 'font-awesome/scss/font-awesome';

$susy: (
  global-box-sizing: border-box,
  columns: 12,
  gutters: .25,
  math: fluid,
  gutter-position: split,
);

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
  overflow-x: hidden;
}

h1 {
  text-align: center;
  font-size: 9.6vw;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'main/main.scss';
// endinjector
