@font-face {
  font-family: A Dripping Marker;
  src: url(https://dl.dropboxusercontent.com/s/1u0903qigxvyp2s/adrip1.ttf?dl=0)
}

@mixin randomizer {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 115px;
  letter-spacing: -2px;
  white-space: nowrap;
  @for $i from 1 through 200 {
    &:nth-child(#{$i}) {
      top: percentage(random());
      left: percentage(random());
      color: hsl(80 * $i, percentage(random()), percentage(random()));
      -webkit-text-stroke: 2px hsl(60 * $i, percentage(random()), percentage(random()));
      z-index: $i;
    }
  }
}

@mixin transition {
  opacity: 0;
  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation: fade-in .5s #{$i * .5}s ease forwards;
    }
  }
}

@mixin cf {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'VT323';
}

section {
  height: 100vh;
}

.social-share {
  position: fixed;
  width: 3vw;
  top: 50%;
  left: 0;
  z-index: 300;
  opacity: 0;
  transform: translateY(-50%);
  transition: all .25s linear;
  &.active {
    opacity: 1;
  }
  a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 2.4vw;
    .fa {
      width: 100%;
      padding: 5px 0;
      text-align: center;
      &.fa-twitter {
        background: #00aced;
      }
      &.fa-facebook {
        width: 100%;
        background: #3b5998;
      }
      &.fa-google {
        background: #dd4b39;
      }
    }
  }
}

figure {
    position: absolute;
    width: 18vw;
    height: 18vw;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  h1 {
    text-align: center;
    font: 10.9vw 'VT323';
    span {
      @include transition;
    }
  }
  .mushroom {
    width: 18vw;
    height: 18vw;
    margin: 0 auto;
    background: url('https://dl.dropbox.com/s/3ep1qay71wlqcgv/Screen%20Shot%202015-04-19%20at%202.32.23%20PM.png?dl=0') center/cover;
    transform: scale(.25);
    animation: scale-up 1s 4.5s ease-out forwards;
  }
  h3 {
    text-align: center;
    font: 3.4vw 'VT323';
    opacity: 0;
    cursor: pointer;
    animation: fade-bounce .5s 6s infinite ease-in-out;
  }
}

article {
  h1 {
  margin: 10px 0;
  text-align: center;
  font-size: 9.6vw;
  }
}

.sounds {
  width: 85%;
  margin: 0 auto;
  .masonry-brick {
    display: none;
    position: relative;
    margin: 10px 0;
    padding: 40px 10px;
    border: 2px solid black;
    &.loaded {
      display: block;
    }
    &.active {
      border-color: limegreen;
    }
    &:hover .controls {
      visibility: visible;
    }
    p {
      white-space: wrap;
    }
    .info {
      margin-top: 4px;
      span {
        margin-right: 8px;
        .fa {
          margin-right: 4px;
        }
      }
    }
    .controls {
      position: absolute;
      width: 100%;
      bottom: 0;
      right: 0;
      padding: 10px;
      color: white;
      background: linear-gradient(135deg,  #ff2247, #1e3f9f);
      visibility: hidden;
      &.active  {
        background: linear-gradient(135deg,  limegreen, #1e3f9f);
      }
      i {
        margin: 0 3px;
      }
      @media screen and (max-width: 540px) {
        visibility: visible;
      }
    }
  }
}

.wall {
  position: relative;
  padding-bottom: 100px;
  overflow: hidden;
  h1 {
    text-align: center;
    font-size: 9.6vw;
  }
  form {
    width: 25%;
    margin: 2.5vh auto;
    @media screen and (max-width: 540px) {
      width: 80%;
    }
    input {
      width: 80%;
      padding: 8px;
      background: none;
      border: none;
      border-bottom: 2px solid black;
      outline: none;
      font: 22px 'VT323';
      @media screen and (max-width: 540px) {
        width: 80%;
      }
    }
    button {
      background: none;
      border: none;
      outline: none;
      font: 22px 'VT323';
    }
  }
  .tags {
    position: relative;
    width: 65%;
    height: 70vh;
    margin: 10vh auto 0;
    p {
      @include randomizer;
    }
  }
}

.feeds {
  @include cf;
  width: 90%;
  margin: 0 auto;
  .insta {
    @include span(8 of 12);
    @include cf;
    @media screen and (max-width: 540px) {
      @include span(12 of 12);
    }
    a {
      color: black;
      text-decoration: none;
    }
    .grams {
      @include gallery(2 of 8);
      margin: 20px 0;
      img {
        max-width: 100%;
      }
    }
  }
  .twitter {
    @include span(4 of 12 last);
    @media screen and (max-width: 540px) {
      @include span(12 of 12);
    }
  }
}

footer {
  padding: 80px 0 40px;
  p {
    text-align: center;
  }
}

@keyframes fade-in {
  100% {opacity: 1;}
}

@keyframes scale-up {
  100% {transform: scale(.8);}
}

@keyframes fade-bounce {
  50% {opacity: 1;}
}
