section
  figure
    h1
      span Y
      span O
      span $
      span #
      span !
      br
      span  C
      span R
      span E
      span W
    .mushroom
    h3(scroll-to="player-heading") insert coin

article
  h1(id="player-heading") Listen to YO$#!
  .sounds(masonry column-width="100" plangular="https://soundcloud.com/yoshicrew/tracks")
    .masonry-brick(ng-repeat="track in tracks" ng-class="{active: player.playing === track.src}")
      h4 {{ track.user.username }}
      p {{ track.title }}
      p(ng-hide="player.playing === track.src") {{track.duration / 1000 | hhmmss}}
      p(ng-show="player.playing === track.src") {{ track.duration / 1000 - currentTime | hhmmss }}
      hr
      .info
        span
          i(class="fa fa-headphones")
          span {{ track.playback_count }}
        span
          i(class="fa fa-heart")
          span {{ track.favoritings_count }}
        span
          i(class="fa fa-comments")
          span {{ track.comment_count }}
      .controls(ng-class="{active: player.playing === track.src}")
        i(class="fa fa-fast-backward" ng-click="previous()" ng-show="player.playing === track.src")
        i(class="fa fa-play" ng-click="playPause($index)" ng-hide="player.playing === track.src")
        i(class="fa fa-pause" ng-click="playPause($index)" ng-show="player.playing === track.src")
        i(class="fa fa-fast-forward" ng-click="next()" ng-show="player.playing === track.src")
.wall
  h1 Leave Your Mark
  form
    input(type="text" placeholder="Show Some Love" ng-model="tag" maxlength="25")
    button(type="submit" ng-click="addTag()") Tag
  .tags
    p(ng-repeat="tag in tags") {{ tag.$value }}

footer
  p &copy;yoshicrew | 2015
